.hero-banner-type-two{
    display: flex;
    justify-content: center;
    height: 25rem;
    background-color: var(--project-brown-primary-color);
    color: var(--project-white-primary-color);
    
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        margin-top: 5rem;

        h1{
            color: var(--project-orange-primary-color);
        }

        .breadcumb{
            display: flex;
            gap: 1rem;

            a{
                color: var(--project-brown-secondary-color);
                cursor: pointer;

                &:hover{
                    color: var(--project-orange-primary-color);
                    text-decoration: underline;
                }
            }

            span{
                color: var(--project-white-primary-color);
            }
        }
    }
}