<ul class="news-header">
    <li class="sub-sub-menu-with-image-item" routerLink="les-echos">
        <div class="image-wrapper">
            <img ngSrc="/img/about/team/1.jpeg" alt="" fill priority>
        </div>
        <h2>Échos (journal)</h2>
    </li>

    <li class="sub-sub-menu-with-image-item" routerLink="/actualites">
        <div class="image-wrapper">
            <img ngSrc="/img/about/team/1.jpeg" alt="" fill priority>
        </div>
        <h2>Tous les articles</h2>
    </li>
</ul>