.feature-fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5rem;

    app-hero-banner-type-two{
        width: 100%;
    }

    .content{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3rem;

        .chart,
        .livret,
        .solidarity{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 30rem;
            background-color: var(--project-brown-quaterly-color);
            color: var(--project-white-primary-color);
            border-radius: 1rem;

            p{
                font-size: 2rem;
            }
        }
    }
}