<ul class="organigram-header">
    <li class="sub-sub-menu-with-image-item" [routerLink]="['/gouvernance']" fragment="nos-instances">
        <div class="image-wrapper">
            <img ngSrc="/img/about/team/1.jpeg" alt="" fill priority>
        </div>
        <h2>
            <span>Nos</span>
            <span>instances</span>
        </h2>
    </li>

    <li class="sub-sub-menu-with-image-item" [routerLink]="['/gouvernance']" fragment="nos-cadres-experts">
        <div class="image-wrapper">
            <img ngSrc="/img/about/team/1.jpeg" alt="" fill priority>
        </div>
        <h2>
            <span>Nos cadres</span>
            <span>et Experts</span>
        </h2>
    </li>

    <li class="sub-sub-menu-with-image-item" [routerLink]="['/gouvernance']" fragment="nos-emanations">
        <div class="image-wrapper">
            <img ngSrc="/img/about/team/1.jpeg" alt="" fill priority>
        </div>
        <h2>
            <span>Nos</span>
            <span>émanations</span>
        </h2>
    </li>
</ul>