<ul class="organigram-header">
    <li [routerLink]="['/gouvernance']" fragment="nos-instances">
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>
            <span>Nos</span>
            <span>instances</span>
        </h2>
    </li>

    <li [routerLink]="['/gouvernance']" fragment="nos-cadres-experts"> 
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>
            <span>Nos cadres</span>
            <span>et Experts</span>
        </h2>
    </li>

    <li [routerLink]="['/gouvernance']" fragment="nos-emanations">
        <img ngSrc="/img/picto/4-5-notre-tissu.png" alt="" width="40" height="40">
        <h2>
            <span>Nos</span>
            <span>émanations</span>
        </h2>
    </li>
</ul>
 