.agenda-header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;

    img{
        object-fit: cover;
    }

    h2{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        text-align: center;
        font-weight: 500;
    }
  }

  .ag{
    background-color: var(--project-green-primary-color);
  }

  .canton{
    background-color: var(--project-brown-quaterly-color);
  }

  .seminar{
    background-color: var(--project-blue-primary-color);
  }
}