<ul class="agenda-header">
    <li class="ag" routerLink="">
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>Assemblée Générale</h2>
    </li>

    <li class="canton" routerLink=""> 
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>Installation de Canton</h2>
    </li>

    <li class="seminar" routerLink="">
        <img ngSrc="/img/picto/4-5-notre-tissu.png" alt="" width="40" height="40">
        <h2>Séminaire de travail</h2>
    </li>
</ul>
