<ul class="agenda-header">
    <li class="ag sub-sub-menu-with-image-item" routerLink="">
        <div class="image-wrapper">
            <img ngSrc="/img/header/sub-menus/events/ag-paris-2025.jpeg" alt="" fill priority>
        </div>
        <h2>
            <span>Assemblée</span>
            <span>Générale</span>
        </h2>
    </li>

    <li class="canton sub-sub-menu-with-image-item" routerLink="">
        <div class="image-wrapper">
            <img ngSrc="/img/header/sub-menus/events/installation-canton.jpeg" alt="" fill priority>
        </div>
        <h2>
            <span>Installation</span>
            <span>de Canton</span>
        </h2>
    </li>

    <li class="seminar sub-sub-menu-with-image-item" routerLink="">
        <div class="image-wrapper">
            <img ngSrc="/img/header/sub-menus/events/seminaire.jpeg" alt="" fill priority>
        </div>
        <h2>
            <span>Séminaire</span>
            <span> de travail</span>
        </h2>
    </li>
</ul>