<div class="inscription-process">
    <div class="content my-container">
        <h2 class="sub-title">Laissez-vous guider lors de votre inscription        </h2>

        <ul>
            <li class="process">
                <span>1</span>

                <div class="register">
                    <h3>S'inscrire</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam in, nihil ipsum iusto ducimus aspernatur sed autem! Ullam </p>
                </div>
            </li>

            <li class="process">
                <span>2</span>

                <div class="complete">
                    <h3>Completer</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam in, nihil ipsum iusto ducimus aspernatur sed autem! Ullam </p>
                </div>
            </li>

            <li class="process">
                <span>3</span>

                <div class="stay-tuned">
                    <h3>Nos Évènements</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam in, nihil ipsum iusto ducimus aspernatur sed autem! Ullam </p>
                </div>
    
            </li>
        </ul>
    </div>
</div>
