<div class="inscription-process">
    <div class="content my-container">
        <span class="pre">Comment adhérer ?</span>
        <h2 class="sub-title">Laissez-vous guider lors de votre inscription </h2>
        
        <ul>
            @for (inscriptionProcess of inscriptionProcesses; track $index) {
                <li class="process">
                    <img ngSrc={{inscriptionProcess.image}} width="100" height="200" alt={{inscriptionProcess.title}}>
                    <div class="register">
                        <h3>{{inscriptionProcess.title}}</h3>
                        <p>
                            {{inscriptionProcess.description}}
                        </p>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
