<div class="inscription-process">
    <div class="content my-container">
        <span class="pre">Comment adhérer ?</span>
        <h2 class="sub-title">Laissez-vous guider lors de votre inscription </h2>
        
        <ul>
            <li class="process">
                <span>1</span>

                <div class="register">
                    <h3>Le Bulletin d'adhésion</h3>
                    <p>
                        Créez votre Identité numérique en remplissant le bulletin d'adhésion en ligne.
                    </p>
                </div>
            </li>

            <li class="process">
                <span>2</span>

                <div class="complete">
                    <h3>La vidéo de présentation</h3>
                    <p>
                        Préparez votre pitch  et téléchargez la vidéo qui vous présentera à tous les membres Ndab Bìkòkoo.
                    </p>
                </div>
            </li>

            <li class="process">
                <span>3</span>

                <div class="stay-tuned">
                    <h3>Les frais d'adhésion et la réserve de solidarité</h3>
                    <p>
                        En fonction de votre cas, acquittez-vous,  des frais de contribution à la vie Ndab Bikokoo.
                    </p>
                </div>    
            </li>
        </ul>
    </div>
</div>
