.inscription-process {
  display: flex;
  justify-content: center;
  color: var(--project-black-primary-color);

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;

    .pre{
      border: 2px solid var(--project-black-primary-color);
    }

    .sub-title {
      text-align: center;
    }

    ul {
      margin-top: 8rem;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      width: 100%;

      li {
        position: relative;

        span {
          position: absolute;
          font-size: 9rem;
          font-weight: bold;
          left: -2rem;
          z-index: -1;
          top: -6rem;
          color: var(--project-orange-primary-color);
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 0.7rem;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          padding: 1.5rem 1rem;
          width: 350px;
          border-radius: 10px;
          background: rgba(114, 113, 113, 0.2);
          /* From https://css.glass */
          background: rgb(236 235 235 / 54%);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgb(142 141 141 / 37%);
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          height: 100%;

          h3{
            font-size: 1.15rem;
          }
          
          p {
            font-size: 1rem;
            line-height: 1.4rem;
          }
        }
      }
    }
  }
}
