<ul class="language-header">
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Le Ɓakóko
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Le Ɓàti
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Le Mbɛ́nɛ̂
    </li>
</ul>