<div class="feature-culture-tradition">
    <app-hero-banner-type-two [heroData]="heroData"></app-hero-banner-type-two>
    <app-hero></app-hero>

    <div class="services">
        @for (service of services; track $index) {
        @if ($index % 2 === 0) {
        <div class="service">
            <div class="content my-container">
                <div class="left">
                    <span class="tag">{{service.tag}}</span>
                    <h2>{{service.title}}</h2>
                    <p>{{service.descritpion}}</p>
                    <ul>
                        @for (route of service.links; track $index) {
                        <li>
                            <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon>
                            {{route.label}}
                        </li>
                        }
                    </ul>
                </div>

                <div class="right">
                    <img [ngSrc]="service.image" [alt]="service.descritpion" width="400" height="250">
                    <div class="texts">
                        <span>{{service.subtag}}</span>
                        <h4>{{service.subtitle}}</h4>
                        <p>{{service.subDescription}}</p>
                    </div>
                </div>
            </div>
        </div>

        }
        @else {
        <div class="service reverse-service">
            <div class="content my-container">
                <div class="left">
                    <span class="tag">{{service.tag}}</span>
                    <h2>{{service.title}}</h2>
                    <p>{{service.descritpion}}</p>
                    <ul>
                        @for (route of service.links; track $index) {
                        <li>
                            <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon>
                            {{route.label}}
                        </li>
                        }
                    </ul>
                </div>

                <div class="right">
                    <img [ngSrc]="service.image" [alt]="service.descritpion" width="400" height="250">
                    <div class="texts">
                        <span>{{service.subtag}}</span>
                        <h4>{{service.subtitle}}</h4>
                        <p>{{service.subDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
        }
        }
    </div>

    <app-two-equal-side-blocs></app-two-equal-side-blocs>
    <app-service-item></app-service-item>
</div>