.feature-culture-tradition {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;

    app-hero-banner-type-two,
    app-hero,
    app-two-equal-side-blocs,
    app-service-item,
    .service {
        width: 100%;
    }

    .services{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
    .service {
        display: flex;
        justify-content: center;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 5rem;
            background-color: var(--project-brown-quaterly-color);
            border-radius: 1rem;
            padding: 2rem;
            color: var(--project-white-primary-color);
            height: 100%;
            
            .left {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 500px;
                flex: 2;
                width: 100%;

                .tag {
                    padding: 0.6rem 1.2rem;
                    border-radius: 100px;
                    background-color: var(--project-orange-primary-color);
                    color: white;
                    width: fit-content;
                }

                h2 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    font-weight: 300;
                    text-align: justify;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;

                    li {
                        display: flex;
                        gap: 0.7rem;
                        align-items: center;
                        font-weight: 300;

                        fa-icon {
                            font-size: 1.2rem;
                            color: var(--project-orange-primary-color);
                        }
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                flex: 1;
                flex-shrink: 0;
                border-radius: 1rem;
                height: 100%;
                border: 1px solid var(--project-orange-primary-color);
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                }

                .texts {
                    display: flex;
                    flex-direction: column;
                    padding: 1.5rem;
                    background-color: var(--project-white-primary-color);
                    color: var(--project-black-primary-color);
                    span {
                        color: var(--project-orange-primary-color);
                        margin-bottom: 0.5rem;
                    }

                    h4 {
                        margin-bottom: 1rem;
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: 0.95rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }

    .reverse-service{
        .content{
            flex-direction: row-reverse;
        }
    }
    }
}