<div class="feature-culture-tradition">
    <app-hero-banner-type-two [heroData]="heroData"></app-hero-banner-type-two>
    <app-two-equal-side-blocs></app-two-equal-side-blocs>
    <app-service-item></app-service-item>
    
    <div class="service">
        <div class="content my-container">
            <div class="left">
                <span class="tag">Notre parcours d'intégration culturelle</span>
                <h2>Notre histoire</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi voluptatum velit ipsam dolor
                    laboriosam! Blanditiis adipisci reprehenderit expedita ab, beatae dolorum qui ullam! Sit perferendis
                    amet eveniet deserunt omnis iste.</p>

                <ul>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> Origine
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> Migration
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> Généalogie
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> Sites
                        d'implantation</li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> Figures
                        historiques</li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon>
                        Organisation sociale</li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> Les
                        confréries</li>
                </ul>
            </div>
            <div class="right"></div>
        </div>
    </div>

    <div class="service">
        <div class="content my-container">
            <div class="left">
                <span class="tag">Notre parcours d'intégration culturelle</span>
                <h2>Nos Langues</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi voluptatum velit ipsam dolor
                    laboriosam! Blanditiis adipisci reprehenderit expedita ab, beatae dolorum qui ullam! Sit perferendis
                    amet eveniet deserunt omnis iste.</p>

                <ul>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠Ɓàsà’a
                        (Mbɛ́nɛ)
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠Ɓakóko
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠Ɓàti
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠Etc…
                        d'implantation</li>
                </ul>
            </div>
            <div class="right"></div>
        </div>
    </div>

    <div class="service">
        <div class="content my-container">
            <div class="left">
                <span class="tag">Notre parcours d'intégration culturelle</span>
                <h2>Nos Langues</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi voluptatum velit ipsam dolor
                    laboriosam! Blanditiis adipisci reprehenderit expedita ab, beatae dolorum qui ullam! Sit perferendis
                    amet eveniet deserunt omnis iste.</p>

                <ul>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠Ɓàsà’a
                        (Mbɛ́nɛ)
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠Ɓakóko
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠Ɓàti
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠Etc…
                        d'implantation</li>
                </ul>
            </div>
            <div class="right"></div>
        </div>
    </div>

    <div class="service">
        <div class="content my-container">
            <div class="left">
                <span class="tag">Notre parcours d'intégration culturelle</span>
                <h2>Nos Us et coutumes</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi voluptatum velit ipsam dolor
                    laboriosam! Blanditiis adipisci reprehenderit expedita ab, beatae dolorum qui ullam! Sit perferendis
                    amet eveniet deserunt omnis iste.
                </p>
                <ul>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠La
                        Naissance
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠Le Mariage
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠Les
                        Funérailles
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> Les
                        interdits
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> La médecine
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> Les cultes
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> ⁠Etc…
                        d'implantation</li>
                </ul>
            </div>
            <div class="right"></div>
        </div>
    </div>

    <div class="service">
        <div class="content my-container">
            <div class="left">
                <span class="tag">Notre parcours d'intégration culturelle</span>
                <h2>Nos Arts</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi voluptatum velit ipsam dolor
                    laboriosam! Blanditiis adipisci reprehenderit expedita ab, beatae dolorum qui ullam! Sit perferendis
                    amet eveniet deserunt omnis iste.</p>

                <ul>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> La Musique
                        (danses, …)
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> Le
                        Gastronomie (cuisine, ….)
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> La Mode
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> La Chasse
                        et Pèche
                    </li>
                    <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon"></fa-icon> Etc…</li>
                </ul>
            </div>
            <div class="right"></div>
        </div>
    </div>
</div>