.feature-culture-tradition {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;

    app-hero-banner-type-two,
    app-hero,
    app-culture-items{
        width: 100%;
    }

}