<div class="service-item">
    <div class="content my-container">
        <div class="texts">
            <h2>Payez vous <span>fournisseur au Nigeria</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint quidem alias quasi cum eos tempora architecto eveniet, omnis aliquid blanditiis possimus, saepe voluptates voluptatum ad voluptas praesentium quis error quas?</p>
            <ul>
                <li><fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon "></fa-icon> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla quibusdam illo assumenda natus asperiores accusamus, magnam, facilis delectus dolore odit ut ad</li>
                <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon "></fa-icon>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla quibusdam illo assumenda natus asperiores accusamus, magnam, facilis delectus dolore odit ut ad</li>
                <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon "></fa-icon>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla quibusdam illo assumenda natus asperiores accusamus, magnam, facilis delectus dolore odit ut ad</li>
                <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon "></fa-icon>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla quibusdam illo assumenda natus asperiores accusamus, magnam, facilis delectus dolore odit ut ad</li>
            </ul>
        </div>
        <div class="image-bloc">
            <img ngSrc="/img/about/team/2.jpeg" alt="" fill>
        </div>
    </div>
</div>
