.article-side-bloc{
    border-radius: 7px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .sharing-bloc{
        border-radius: 10px;
        background-color: var(--project-brown-quaterly-color);
        padding: 20px;
        display: flex;
        flex-direction: column;
        color: var(--project-white-primary-color);

        h4{
            display: flex;
            gap: 0.6rem;
            font-weight: 700;
            font-size: 1.25rem;
            border-radius: 100px;
            margin-bottom: 10px;
        }

        p{
            font-size: 15px;
            line-height: 21px;
            margin-bottom: 25px;
        }

        .shariable-networks{
            display: flex;
            gap: 0.5rem;

            li{
                border: 1px solid var(--project-white-primary-color);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease-in-out;

                fa-icon{
                    font-size: 1.4rem;
                }

                &:hover{
                    border-radius: 50%;
                    color: white;
                    transform: scale(1.15);
                    border: 2px solid var(--project-yellow-primary-color);
                }
            }

            .facebook{
                &:hover{
                    background-color: blue;
                }
            }

            .twitter{
                &:hover{
                    background-color: var(--project-black-primary-color);
                }
            }

            .faWhatsapp{
                &:hover{
                    background-color: var(--project-green-primary-color);
                }
            }
        }
    }

    .rubriques-bloc{
        border-radius: 10px;
        border: 2px solid var(--project-black-primary-color);
        padding: 20px;

        h4{
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .rubriques{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            button{
                padding: 7px 15px;
                border: 1px solid #9b9b9b;
                background-color: var(--project-white-primary-color);
                border-radius: 3px;
                font-size: 15px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover{
                    background-color: var(--project-black-primary-color);
                    color: var(--project-white-primary-color);
                }
            }
        }
    }
}

@media all and (max-width: 1190px){
    .article-side-block{
        padding: 2rem 1rem;
        width: 355px;
    
        .last{
            h4{
                margin-bottom: 30px;
                font-size: 1.4rem;
            }
    
            .articles{
                .side-article{
                    .texts{
                        p{
                            &:first-child{
                                font-size: 15px;
                            }
    
                            &:last-child{
                                fa-icon{
                                    font-size: 1rem;    
                                }
    
                                span{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .rubriques-bloc{
            h4{
                margin-bottom: 30px;
                font-size: 1.4rem;
            }
    
            .rubriques{
                button{
                    font-size: 15px;
                }
            }
        }
    }
}

@media all and (max-width: 970px){
    .article-side-block{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
        background-color: transparent;
        border-radius: 7px;
        padding: 0;
        width: 100%;
    
        .last{
            padding-top: 45px;
            padding-bottom: 0;
            margin-bottom: 35px;
            border-top: 1px solid #a19f9e;
            border-bottom: none;
            height: fit-content;
            margin-top: 50px;
            
            h4{
                margin-bottom: 30px;
                font-size: 1.4rem;
            }
    
            .articles{
                display: -webkit-box;
                max-height: unset;
                overflow-y: unset;
                overflow-x: scroll;
                width: 100%;
                padding-right: 0;
                gap: 2rem;
                padding-bottom: 30px;
    
                .side-article{
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 0;
                    border-radius: 0;
                    width: 200px;
    
                    &:hover{
                        box-shadow: none;
                        background-color: var(--project-primary-color);
                        
                        .texts{
                            p{
                                color: white !important;

                            }
                        }
                    }
    
                    img{
                        width: 100%;
                        height: 150px;
                        margin-right: 0;
                        border-radius: 0;
                    }
    
                    .texts{
                        width: 100%;
                        padding: 7px 5px;
                    }
                }
            }
        }
    
        .rubriques-bloc{
            h4{
                margin-bottom: 30px;
            }
        }
    }
}

@media all and (max-width: 500px){
    .article-side-block{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
        background-color: transparent;
        border-radius: 7px;
        padding: 0;
        width: 100%;
    
        .last{
            padding-top: 25px;
            margin-top: 30px;
            
            h4{
                margin-bottom: 30px;
                font-size: 1.3rem;
            }
    
        }
    
        .rubriques-bloc{
            h4{
                margin-bottom: 20px;
                font-size: 1.3rem;
            }
        }
    }
}