<div class="join-banner">

    <div class="content my-container">

        <div class="texts">
            <div class="infos">
                <h2>
                    Rejoins, Ndab Bikokoo
                </h2>
                <p>
                    Participer à un projet unique et solidaire, en rejoignant nos 5 000 adhérents, tous engagés pour
                    permettre un accompagnement digne , notre dernier jour.
                    Rejoindre un de nos cantons c'est rallier un ensemble qui fait de m'amélioration continue de la
                    grande communauté Mbɛ́nɛ̂ Ɓàti M̀pòo, sa vocation première.
                </p>
            </div>

            <button routerLink="/sengager">En savoir plus</button>
        </div>
    </div>
</div>