<div class="join-banner">
    <div class="content my-container">

        <div class="image-wrapper">
            <img src="/img/logo/logo.png" alt="logo">
        </div>

        <div class="texts">
            <h2>
                Rejoignez, NDAP BIKOKOO
            </h2>
            <p>
                Participez à un projet unique et solidaire en rejoignant nos
                5 000 adhérents engagés pour permettre un accompagnement digne, le dernier jour. Rejoindre un de nos cantons, c’est rallier un ensemble qui qui a fait de l’amélioration du quotidien des communautés Mbɛ́nɛ̂ Ɓàti M̀pòo, sa vocation.
            </p>

            <button>Nous Rejoindre</button>
        </div>
    </div>
</div>

