<div class="join-banner">
    <div class="content my-container">

        <div class="image-wrapper">
            <img src="/img/logo/logo.png" alt="logo">
        </div>

        <div class="texts">
            <h2>
                Rejoignez, NDAP BIKOKOO
            </h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium laborum doloribus repellendus sint dolorem quo necessitatibus commodi asperiores explicabo voluptates dolorum consequuntur, impedit est quaerat sapiente. Fuga sit repudiandae nobis!
            </p>

            <button>Nous Rejoindre</button>
        </div>
    </div>
</div>
