<div class="service-item">
    <div class="content my-container">
        <div class="texts">
            <h2>Notre engagement, <span>nos objectifs</span></h2>
            <p>Accompagner avec dignité et humanisme nos devanciers, assister chaque famille éprouvée à faire son deuil.
                Kiñè Keñi Étienne Lejeune Ngom Ngom, et son épouse, avaient décidé que plus aucun décès d'un Ɓàsà’a de la diaspora 
                ne restera sans assistance.</p>
            <ul>
                <li><fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon "></fa-icon>
                    ⁠<b>Nous encourageons</b> tous les ressortissants de la grotte, de la diaspora, à rejoindre le
                        mouvement afin de renforcer la solidarité.
                </li>
                <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon "></fa-icon>
                    <b>Nous rassemblons</b> les Ɓàsà’a autour du concept solidaire d'aide au rapatriement de corps.
                </li>
                <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon "></fa-icon>
                    <b>Nous organisons</b> notre structure en accueillant ceux qui s'engagent et s'impliquent ; et de
                        manière collective, nous travaillons pour faciliter notre collaboration.
                </li>
                <li> <fa-icon [icon]=" 'faCircleCheck' | convertStringLabelToFontawesomeIcon "></fa-icon>
                    <b>Nous offrons</b> à nos semblables, une couverture à tous nos adhérents via leur ayant droits.
                </li>
            </ul>

            <div class="testimonies">
                @for (testimony of testimonies; track $index) {
                <div class="testimony">
                    <div class="stars">
                        <fa-icon [icon]="'faStar' | convertStringLabelToFontawesomeIcon"></fa-icon>
                        <fa-icon [icon]="'faStar' | convertStringLabelToFontawesomeIcon"></fa-icon>
                        <fa-icon [icon]="'faStar' | convertStringLabelToFontawesomeIcon"></fa-icon>
                        <fa-icon [icon]="'faStar' | convertStringLabelToFontawesomeIcon"></fa-icon>
                        <fa-icon [icon]="'faStar' | convertStringLabelToFontawesomeIcon"></fa-icon>
                    </div>
                    <div class="testimony-texts">
                        <h3> {{testimony.title}} </h3>
                        <p> {{testimony.message}} </p>
                    </div>

                    <div class="image-name-place">
                        <img [ngSrc]="testimony.image" alt="" width="60" height="60">

                        <div class="name-place">
                            <h4> {{testimony.name}} </h4>
                            <span> {{testimony.place}} </span>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="image-bloc">
            <img ngSrc="/img/our-offer/sky-guy.jpeg" alt="" fill>
        </div>
    </div>
</div>