.youngs-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  height: 100%;

  li {
    background-color: #efefef;
    color: var(--project-black-primary-color);
    
    &:hover {
      transform: scale(1.05);
      background-color: rgb(215, 235, 215);
      color: var(--project-green-primary-color);
      border: 1px solid rgb(34, 34, 34);
    }
  }
}