<form [formGroup]="informationForm">
    <h2>Vos informations personnelles</h2>

    <div class="fields">
            <div class="row-two">
        <div class="field">
            <label>Nom(s)</label>
            <input type="text" pInputText formControlName="lastname" placeholder="Entrez votre/vos nom(s)">
        </div>
        <div class="field">
            <label>Prénom(s)</label>
            <input type="text" pInputText formControlName="firstname" placeholder="Entrez votre/vos prénom(s)">
        </div>
    </div>
    <div class="row-two">
        <div class="field">
            <label>Nom Marital</label>
            <input type="text" pInputText formControlName="maritalname" placeholder="Entrez un nom marrital">
        </div>
        <div class="field">
            <label>Sexe</label>
            <input type="text" pInputText formControlName="sex" placeholder="Choisissez votre sexe">
        </div>
    </div>

    <div class="row-two">
        <div class="field">
            <label>Date de naissance</label>
            <input type="text" pInputText formControlName="address" placeholder="Entrez votre date de naissance">
        </div>
        <div class="field">
            <label>Lieu de naissance</label>
            <input type="text" pInputText formControlName="country" placeholder="Entrez votre lieu de naissance">
        </div>
    </div>
    
    <div class="row-two">
        <div class="field">
            <label>Adresse</label>
            <input type="text" pInputText formControlName="address" placeholder="Entrez votre addresse">
        </div>
        <div class="field">
            <label>Ville</label>
            <input type="text" pInputText formControlName="country" placeholder="Entrez votre pays de résidence">
        </div>
    </div>
    <div class="row-two">
        <div class="field">
            <label>Pays</label>
            <input type="text" pInputText formControlName="country" placeholder="Entrez votre pays de résidence">
        </div>
        <div class="field">
            <label>Téléphone</label>
            <input type="text" pInputText formControlName="address" placeholder="Entrez votre téléphone">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="text" pInputText formControlName="country" placeholder="Entrez votre email">
        </div>
    </div>
    </div>
</form>