<header #header>
  <div #contactBadge class="contact-badge">
    <div class="content header-container">
      <ul class="networks">
        @for (network of networks; track $index) {
        <li [class]="network.name">
          <a href="{{ network.link }}" target="_blank">
            <fa-icon
              [icon]="network.icon | convertStringLabelToFontawesomeIcon"
            ></fa-icon
          ></a>
        </li>
        }
      </ul>

      <div class="contacts">
        <a class="phone">
          <fa-icon [icon]="'faPhone' | convertStringLabelToFontawesomeIcon">
          </fa-icon>
          <p>+49 179 7510920</p>
        </a>
        <a class="email">
          <fa-icon
            [icon]="'faEnvelope' | convertStringLabelToFontawesomeIcon"
          ></fa-icon>
          <p>contact&#64;ndabbikokoo.com</p>
        </a>
      </div>
    </div>
  </div>

  <div
    class="main-header"
    #navElement
    role="navigation"
    aria-label="Menu principal"
  >
    <div class="content header-container">
      <div class="logo-wrapper">
        <img
          ngSrc="/img/logo/logo.png"
          alt="logo de l'asociation Ndab Bikoko"
          fill
          priority
          routerLink=""
        />
      </div>

      <nav class="main-nav" role="navigation" aria-label="Menu principal">
        <ul class="nav-list">
          @for (item of menuItems; track $index) {

          <li class="nav-item" [class.has-submenu]="item.children">
            @if (item.children) {
            <button
              class="nav-link"
              (mouseenter)="toggleInSubmenu(item)"
              (mouseleave)="toggleOutSubmenu(item)"
              aria-haspopup="true"
              [attr.aria-expanded]="item.open"
            >
              {{ item.label }}
              <fa-icon
                [icon]="'faAngleDown' | convertStringLabelToFontawesomeIcon"
              >
              </fa-icon>
            </button>

            @if (item.open) {
            <div
              class="dropdown-menu"
              [class.show]="item.open"
              (mouseenter)="cancelToggleOut()"
              (mouseleave)="toggleOutSubmenu(item)"
            >
              <div class="submenus">
                <div class="content">
                  <ul>
                    @for (child of item.children; track $index) {
                      <li>
                        <a [routerLink]="child.link">
                          {{ child.label }}
                          <fa-icon
                            [icon]="
                              'faAngleRight' | convertStringLabelToFontawesomeIcon
                            "
                          ></fa-icon>
                        </a>
                      </li>
                    }
                  </ul>
                  <div class="right">
                    <!-- Contenu à droite si besoin -->
                  </div>
                </div>
              </div>
            </div>
            } } @else {
            <a class="nav-link" [routerLink]="item.link">
              {{ item.label }}
            </a>
            }
          </li>
          }
        </ul>
      </nav>

      <div class="auth-actions">
        <a routerLink="/login" class="login">Se connecter</a>
        <a routerLink="/register" class="register">S'inscrire</a>
      </div>
    </div>
  </div>
</header>
