<header #header>
  <div #contactBadge class="contact-badge">
    <div class="content header-container">
      <ul class="networks">
        @for (network of networks; track $index) {
        <li>
          <a href="{{ network.link }}" target="_blank">
            <fa-icon
              [icon]="network.icon | convertStringLabelToFontawesomeIcon"
            ></fa-icon
          ></a>
        </li>
        }
      </ul>

      <div class="contacts">
        <a class="phone">
          <fa-icon [icon]="'faPhone' | convertStringLabelToFontawesomeIcon">
          </fa-icon>
          <p>+33 012345678</p>
        </a>
        <a class="email">
          <fa-icon
            [icon]="'faEnvelope' | convertStringLabelToFontawesomeIcon"
          ></fa-icon>
          <p>contact&#64;ndab-bikokoo.com</p>
        </a>
      </div>
    </div>
  </div>
  
  <nav #navElement>
    <div class="content header-container">
      <div class="logo-wrapper">
        <img
          ngSrc="/img/logo/logo.png"
          alt="logo de l'asociation Ndab Bikoko"
          fill
          priority
          routerLink=""
        />
      </div>
      <ul class="nav-links">
        <li><a routerLink="">La Maison <fa-icon [icon]=" 'faAngleDown' | convertStringLabelToFontawesomeIcon"></fa-icon></a></li>
        <li><a routerLink="gouvernance">Gouvernance <fa-icon [icon]=" 'faAngleDown' | convertStringLabelToFontawesomeIcon"></fa-icon></a></li>
        <li><a routerLink="evenements">Évènements <fa-icon [icon]=" 'faAngleDown' | convertStringLabelToFontawesomeIcon"></fa-icon></a></li>
        <li><a routerLink="a-propos">Culture <fa-icon [icon]=" 'faAngleDown' | convertStringLabelToFontawesomeIcon"></fa-icon></a></li>
        <li><a routerLink="contact">Contact <fa-icon [icon]=" 'faAngleDown' | convertStringLabelToFontawesomeIcon"></fa-icon></a></li>
      </ul>
    </div>
  </nav>
</header>
