<header #header>
  <div class="main-header" #navElement role="navigation" aria-label="Menu principal">
    <div class="content header-container">
      <div class="logo-wrapper">
        <img ngSrc="/img/logo/logo.png" alt="logo de l'asociation Ndab Bikoko" fill priority routerLink="" />
      </div>

      <nav class="main-nav" role="navigation" aria-label="Menu principal">
        <ul class="nav-list">
          @for (item of menuItems; track $index) {

          <li class="nav-item" [class.has-submenu]="item.children">
            @if (item.children) {
            <button class="nav-link" (mouseenter)="onEnterMenu(item)" (mouseleave)="onLeaveMenu(item)"
              (mouseover)="onMenuHovered($index)" aria-haspopup="true" [attr.aria-expanded]="item.open">
              {{ item.label }}
              <fa-icon [icon]="'faAngleDown' | convertStringLabelToFontawesomeIcon">
              </fa-icon>
            </button>

            @if (item.open) {
            <div class="dropdown-menu" [class.show]="item.open" (mouseenter)="cancelToggleOut()"
              (mouseleave)="toggleOutSubmenu(item)">
              <div class="submenus">
                <div class="content">
                  <ul class="sub-menus">
                    @for (child of item.children; track $index) {
                    <li (mouseover)="onSelectSubMenu($index)">
                      <a [routerLink]="child.link" [class]="child.isActive ? item.class : ''">
                        <img [ngSrc]="child.image" width="35" height="35">
                        <span> {{ child.label }} </span>
                        <fa-icon [icon]="'faAngleRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
                      </a>
                    </li>
                    }
                  </ul>
                  <div class="sub-menu-items">
                    @switch (currentSubMenu?.id) {
                    @case (SUBMENUIDENUM.ABOUT_US) {
                    <app-about-us-header></app-about-us-header>
                    }
                    @case (SUBMENUIDENUM.OUR_OFFER) {
                    <app-our-offer-header></app-our-offer-header>
                    }
                    @case (SUBMENUIDENUM.ENGAGE) {
                    <app-engage-header></app-engage-header>
                    }
                    @case (SUBMENUIDENUM.ORGANIGRAM) {
                    <app-organigram-header></app-organigram-header>
                    }
                    @case (SUBMENUIDENUM.FUNCTIONNING) {
                    <app-how-we-work-header></app-how-we-work-header>
                    }
                    @case (SUBMENUIDENUM.OUR_YOUNGS) {
                      <app-youngs-header></app-youngs-header>
                    }
                    @case (SUBMENUIDENUM.AGENDA) {
                    <app-agenda-header></app-agenda-header>
                    }
                    @case (SUBMENUIDENUM.NEWS) {
                    <app-news-header></app-news-header>
                    }
                    @case (SUBMENUIDENUM.HISTORY) {
                    <app-history-header></app-history-header>
                    }
                    @case (SUBMENUIDENUM.LANGUAGES) {
                    <app-language-header></app-language-header>
                    }
                    @case (SUBMENUIDENUM.US) {
                    <app-us-header></app-us-header>
                    }
                    @case (SUBMENUIDENUM.ART) {
                    <app-art-header></app-art-header>
                    }
                    @case (SUBMENUIDENUM.CONTACT_US) {
                    <app-contact-us-header></app-contact-us-header>
                    }
                    @case (SUBMENUIDENUM.PROFESSIONAL) {
                    <app-let-us-know-you-header></app-let-us-know-you-header>
                    }
                    }
                  </div>
                </div>
              </div>
            </div>
            } }
          </li>
          }
        </ul>
      </nav>

      <div class="auth-actions">
        <a routerLink="/se-connecter" class="login">Se connecter</a>
        <a routerLink="/sinscrire" class="register">S'inscrire</a>
      </div>
    </div>
  </div>
</header>