        <div class="middle">
            <div class="logo-bloc">
                <img ngSrc="/img/logo/logo.png" width="140" height="150">
            </div>

            <div class="navigation-blocs">
                <div class="rapid-links">
                <h3>À propos</h3>

                <ul>
                    <li>
                        <a>Qui sommes-nous ?</a>
                    </li>
                    <li><a>Organigramme</a></li>
                    <li><a>Nos évênements</a></li>
                    <li><a>Pourquoi rejoinde Ndab Bikokoo?</a></li>
                </ul>
            </div>

            <div class="rapid-links">
                <h3>Liens utiles</h3>

                <ul>
                    <li>
                        <a href="/pdf/reglement_interieur_ndab_bikokoo.pdf" target="_blank">Règlement intérieur </a>
                    </li>
                    <li><a >Livret d'accueil</a></li>
                    <li><a href="/pdf/bulletin_adhesion_ndab_bikokoo.pdf" target="_blank">Bulletin d'adhésion</a></li>
                </ul>
            </div>

            <div class="contact">
                <h3>Son objet</h3>
                <ul>
                    <li><a>Assistance décès</a></li>
                    <li><a>Opportunité de projet</a></li>
                    <li><a>Réseau de compétences</a></li>
                    <li><a>Nous contacter</a></li>
                </ul>
            </div>

            <div class="rgpd">
                <h3>Légals</h3>
                <ul>

                    <li>
                        <a>RGPD </a>
                    </li>
                    <li>
                        <a> Mentions légales </a>
                    </li>
                    <li>
                        <a> Règles de confidentialité</a>
                    </li>
                </ul>
            </div>
            </div>

        </div>
