<ul class="history-header">
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        L'origine
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        La migration
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        La généalogie
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Les sites d'implantation
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Les figures historiques
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        L'organisation sociale
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Les confréries
    </li>
</ul>