<ul class="history-header">
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Origine
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Migration
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Généalogie
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Sites d'implantation
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Figures historiques
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Organisation sociale
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Les confréries
    </li>
</ul>