<div class="contact-top">
  <div class="content my-container">
    <div class="texts">
      <p>
        Vous pouvez nous contacter par le moyen qui vous sied le mieux parmis
        ceux lités sur cette page. Nous nous ferons un plaisir de vous répondre
        ultérieurement
      </p>

      <ul>
        @for (network of networks; track $index) {
          <li>
              <a routerLink={{network.link}}> 
                  <fa-icon [icon]=" network.icon | convertStringLabelToFontawesomeIcon "></fa-icon>
              </a>
          </li>
      }

      </ul>

      <div class="contact-ways">
        @for (way of contactWays; track $index) {
        <div class="way">
          <h2>{{ way.label }}</h2>
          <div class="phone">
            <div class="icon-wrapper">
                <fa-icon
                [icon]="'faPhone' | convertStringLabelToFontawesomeIcon"
              ></fa-icon>  
            </div>
            <span> {{ way.phone }} </span>
          </div>
          <div class="email">
            <div class="icon-wrapper">
                <fa-icon
                [icon]="'faEnvelope' | convertStringLabelToFontawesomeIcon"
              ></fa-icon>  
            </div>
            <span> {{ way.email }} </span>
          </div>
        </div>
        }
      </div>
    </div>

    <form>
      <div class="field">
        <label>Nom</label>
        <input type="text" pInputText placeholder="Entrez votre nom" />
      </div>
      <div class="field">
        <label>Email</label>
        <input type="text" pInputText placeholder="Entrez votre adresse mail" />
      </div>
      <div class="field">
        <label>Téléphone</label>
        <input type="text" pInputText placeholder="Entrez votre numéro de téléphone" />
      </div>
      <div class="field">
        <label>Message</label>
        <textarea 
            [autoResize]="false"
            rows="7" 
            cols="30" 
            pTextarea 
            formControlName="text" 
            placeholder="Vous pouvez entrez votre message ici ..." 
            >
        </textarea>
      </div>

      <button>Envoyer</button>
    </form>
  </div>
</div>
