<ul class="engage-header">
    <li routerLink="sengager" fragment="adherer">
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>Adhérer</h2>
    </li>

    <li routerLink="sengager" fragment="donation">
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>Faire un don</h2>
    </li>

    <li routerLink="sengager" fragment="declare">
        <img ngSrc="/img/picto/4-5-notre-tissu.png" alt="" width="40" height="40">
        <h2>Se déclarer</h2>
    </li>

</ul>