.two-equal-side-blocs {
    display: flex;
    justify-content: center;
    padding: 1rem;

    .content {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        background-color: var(--project-orange-secondary-color);
        padding: 2rem;

        .item {
            display: flex;
            align-items: center;
            gap: 4rem;
            padding: 6rem 0;

            .texts {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                flex: 1;
                width: 100%;

                .tag {
                    padding: 0.6rem 1.2rem;
                    border-radius: 100px;
                    background-color: var(--project-brown-quaterly-color);
                    color: var(--project-white-primary-color);
                    width: fit-content;
                }

                h2 {
                    color: var(--project-brown-quaterly-color);
                }

                p {
                    line-height: 1.6rem;
                }
            }

            .image-bloc {
                position: relative;
                background-color: var(--project-brown-quaterly-color);
                height: 17rem;
                border-radius: 1rem;
                flex: 1;
                width: 100%;

                img {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    object-fit: cover;
                }
            }
        }

        .item-reverse {
            flex-direction: row-reverse;

            .texts {
                flex-direction: column-reverse;
                align-items: flex-end;

                p {
                    text-align: right;
                }

                h2 {
                    text-align: right;
                }
            }

            .image-bloc {

                img {
                    position: absolute;
                    bottom: 0;
                    left: unset;
                    transform: none;
                    right: 0;
                    object-fit: cover;
                }
            }
        }

    }
}


@media all and (max-width: 1170px) {
    .two-equal-side-blocs {
        .content {
            .item {
                padding: 3rem 0;

                .texts {
                    h2 {
                        font-size: 1.4rem;
                    }

                    p {
                        line-height: 1.6rem;
                    }
                }

                .image-bloc {
                    img {
                        width: 406px;
                        height: 312px;
                    }
                }
            }

            .item-reverse {
                flex-direction: row-reverse;

                .texts {
                    flex-direction: column-reverse;
                    align-items: flex-end;

                    p {
                        text-align: right;
                    }

                    h2 {
                        text-align: right;
                    }
                }

                .image-bloc {

                    img {
                        position: absolute;
                        bottom: 0;
                        left: unset;
                        transform: none;
                        right: 0;
                        object-fit: cover;
                    }
                }
            }

        }
    }
}


@media all and (max-width: 990px) {
    .two-equal-side-blocs {
        .content {
            .item {
                flex-direction: column;
                padding: 3rem 0;
                gap: 6rem;

                .texts {
                    h2 {
                        font-size: 1.4rem;
                    }

                    p {
                        line-height: 1.6rem;
                    }
                }

                .image-bloc {

                    height: 16rem;
                    border-radius: 1rem;
                    flex: none;
                    width: 100%;

                    img {
                        width: 406px;
                        height: 312px;
                    }
                }
            }

            .item-reverse {
                flex-direction: column;

                .texts {
                    flex-direction: column;
                    align-items: flex-start;

                    p {
                        text-align: left;
                    }

                    h2 {
                        text-align: left;
                    }
                }

                .image-bloc {

                    img {
                        position: absolute;
                        bottom: 0;
                        left: unset;
                        transform: none;
                        right: 0;
                        object-fit: cover;
                    }
                }
            }

        }
    }
}

@media all and (max-width: 520px) {
    .two-equal-side-blocs {

        .content {
            padding: 1rem;
            gap: 2rem;

            .item {
                flex-direction: column;
                padding: 1rem 0;
                gap: 6rem;

                .texts {
                    h2 {
                        font-size: 1.35rem;
                    }

                }

                .image-bloc {

                    height: 12rem;

                    img {
                        width: 320px;
                        height: 250px;
                    }
                }
            }
        }
    }
}