<div class="two-equal-side-blocs">
    <div class="content my-container">
        <div class="item" id="notre-mission">
            <div class="texts">
                <span class="tag">Notre Mission</span>
                <h2>La prise de conscience révolutionnaire, une vocation à réussir ensemble, faire du membre, l'acteur
                    central de Ndab Bìkokoo.</h2>
                <p>Créer une pris de conscience révolutionnaire chez les Ɓàsà’a. Faciliter l'inclusion financière dans
                    le mouvement grâce à des valeurs telles que la solidarité, l'entraide, le partage et l'échange, les
                    qualités humaines et la cohésion de groupe.</p>
            </div>

            <div class="image-bloc">
                <img ngSrc="/img/about/misson.png" alt="" width="436" height="350">
            </div>
        </div>

        <div class="item item-reverse" id="notre-vision">
            <div class="texts">
                <span class="tag">Notre Vision</span>
                <h2>Rassembler les Ɓàsàa de la diaspora et les réunir autour du concept d’aide au rapatriement de corps
                </h2>
                <p>Notre vision est celle d'une communauté où chaque personne qui contribue à la réussite commune est un
                    acteur central du mouvement. Chaque adhérent partage notre vocation, celle de réussir ensemble.</p>
            </div>

            <div class="image-bloc">
                <img ngSrc="/img/about/vision.png" alt="" width="476" height="400">
            </div>
        </div>
    </div>
</div>