<div class="start">
  <div class="faces">
    <fa-icon [icon]="'faFaceMehBlank' | convertStringLabelToFontawesomeIcon" data-aos="fade-left" data-aos-delay="300"></fa-icon>
    <fa-icon [icon]="'faFaceMeh' | convertStringLabelToFontawesomeIcon" data-aos="fade-left" data-aos-delay="600"></fa-icon>
    <fa-icon [icon]="'faFaceSmile' | convertStringLabelToFontawesomeIcon" data-aos="fade-left" data-aos-delay="900"></fa-icon>
    <fa-icon [icon]="'faFaceLaugh' | convertStringLabelToFontawesomeIcon" data-aos="fade-left" data-aos-delay="1200"></fa-icon>
  </div>
  <p data-aos="fade-right" data-aos-delay="900">Tout est OK </p>
  <i class="pi pi-check" data-aos="fade-up" data-aos-delay="1500"></i>
</div>