<div class="president-words">
    <div class="content my-container">
        <div class="text-bloc">
            <div class="texts">
                <fa-icon [icon]="'faQuoteRight' | convertStringLabelToFontawesomeIcon"></fa-icon>

                <h2>Le mouvement Ndab Bìkokoo rassemble les ressortissants de Ngog Lituba au
                    Cameroun. Femmes et hommes aux talents, compétences, parcours et expériences multiples.
                </h2>

                <p> Nous croyons
                    en la force de la solidarité, de la collaboration et de l'inclusion. Nous nourrissons l'ambition
                    audacieuse de devenir, dans les prochaines années, un des leaders incontournable de l’unité des
                    Ɓàsà’a, Mpo'o, Bati de la diaspora européenne, américaine, asiatique et océanienne. Nous croyons en
                    un avenir où cette unité est synonyme de respect de nos valeurs, de qualité de vie pour nos
                    adéhrents ainsi que leurs descendants, et d'efficacité dans nos actions. Chacun d'entre nous, au
                    sein des équipes Ndab Bìkokoo, joue un rôle essentiel pour concrétiser cette vision.</p>
                <p>Rejoignez notre communauté dynamique et solidaire ! Le mouvement Ndab Bìkokoo est ouvert à tous les
                    enfants de la Grotte et leurs enfants. Nous croyons en la force de l'unité et de la collaboration
                    pour créer un avenir meilleur pour tous. Notre objectif est de rassembler les personnes de bonne
                    volonté pour travailler ensemble vers un monde plus juste et plus équitable. Nous t'offrons la
                    possibilité d’exprimer tes idées pour permettre au mouvement de continuer de grandir.
                    Nous offrons un espace où vous pouvez partager vos idées, vos talents et vos expériences pour
                    contribuer à notre mission. Que vous soyez un leader, un bénévole ou simplement quelqu'un qui veut
                    faire une différence, nous avons une place pour vous.</p>
                <p>Rejoignez-nous et soyez partie prenante de notre aventure ! Ensemble, nous pouvons créer un impact
                    positif et durable dans nos communautés et au-delà."</p>
            </div>
        </div>
        <div class="image-name-role">
            <div class="name-role">
                <h4>NGOM NGOM Étienne Lejeune</h4>
                <span>Keñi (Fondateur)</span>
            </div>
            <img ngSrc="img/home/kine.png" alt="" height="514" width="600" >
        </div>
    </div>
</div>