.president-words {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--project-blue-primary-color);
  min-height: 40rem;
  padding-top: 5rem;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 100%;
    padding: 0 2rem 0 0;
    gap: 4rem;

    .image-wrapper {
      position: relative;
      width: 600px;
      height: 600px;

      img {
        object-fit: cover;
        object-position: top;
      }
    }

    .text-bloc {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: calc(100% - 550px);
      align-self: center;

      .texts {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background-color: var(--project-white-primary-color);
        border-radius: 10px;
        color: var(--project-black-primary-color);

        fa-icon {
          position: absolute;
          font-size: 7rem;
          color: var(--project-brown-primary-color);
          left: -5rem;
          top: -5rem;
        }

        .sub-title {
          font-weight: 900;
          max-width: 100%;
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
          color: var(--project-brown-primary-color);
        }

        p {
          text-align: justify;
          font-size: 0.95rem;
          line-height: 1.3rem;
          margin-bottom: 0.7rem;
        }
      }
    }
  }

  .content2 {
    padding: 0 0 0 2rem;

    .text-bloc {
      margin-bottom: 2rem;
      align-self: flex-start;

      .texts {

        fa-icon {
          position: absolute;
          font-size: 7rem;
          color: var(--project-brown-primary-color);
          left: unset;
          right: -5rem !important;
          top: -5rem;
        }
      }
    }

    .image-wrapper {
      height: 514px;
    }
  }
}