<div class="president-words">
    <div class="content my-container">
        <div class="image-wrapper">
            <img ngSrc="img/home/kine.webp" alt="" fill>
        </div>
        <div class="texts">
            <h2 class="sub-title"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eveniet quaerat eum</h2>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet odit earum exercitationem vero eius iusto cumque totam reprehenderit commodi excepturi, dolorum modi nulla accusantium dicta quia hic consequuntur. Deleniti, ducimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cupiditate praesentium, explicabo autem impedit earum at blanditiis aperiam !</p>
            <button>En savoir plus</button>
        </div>

        <fa-icon [icon]="'faQuoteRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
    </div>
</div>
