.president-words {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--project-blue-primary-color);
  min-height: 40rem;
  padding-top: 5rem;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1400px;
    gap: 4rem;
    margin: auto;

    .text-bloc {
      display: flex;
      flex-direction: column;
      width: calc(100% - 550px);
      margin-bottom: 2rem;
      align-self: flex-start;

      .texts {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background-color: var(--project-white-primary-color);
        border-radius: 10px;
        color: var(--project-black-primary-color);

        fa-icon {
          position: absolute;
          font-size: 7rem;
          color: var(--project-brown-primary-color);
          right: -5rem !important;
          top: -5rem;
        }

        h2 {
          font-weight: 900;
          max-width: 100%;
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
          color: var(--project-brown-primary-color);
        }

        p {
          text-align: justify;
          font-size: 0.95rem;
          line-height: 1.3rem;
          margin-bottom: 0.7rem;
        }
      }
    }

    .image-name-role {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 600px;

      .name-role {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: white;

        h4 {
          font-size: 1.5rem;
        }

        span {
          font-weight: 300;
          padding: 0.5rem 1rem;
          border-radius: 100px;
          color: var(--project-white-primary-color);
          font-weight: 400;
          background-color: var(--project-brown-quaterly-color);
        }
      }

      img {
        object-fit: cover;
        object-position: top;
      }
    }
  }
}

@media all and (max-width: 1300px) {
  .president-words {
    flex-direction: column;
    justify-content: center;

    .content {
      gap: 3rem;
      margin: auto;
      flex-direction: column;
      align-items: center;

      .text-bloc {
        width: 100%;

        .texts {
          fa-icon {
            display: none;
          }
        }
      }
    }
  }
}

@media all and (max-width: 830px) {
  .president-words {
    .content {
      margin: auto;
      flex-direction: column;
      align-items: center;

      .image-name-role {
        
        img{
          width: 100%;
        }
      }
    }
  }
}

@media all and (max-width: 670px) {
  .president-words {
    .content {
      .image-name-role {
          width: 100%;

        img {
          height: 30rem;
        }
      }
    }
  }
}

@media all and (max-width: 545px) {
  .president-words {
    .content {

      .text-bloc {
        .texts {
          padding: 2rem 1rem;

          h2 {
            font-size: 1.3rem;
          }
        }
      }

      .image-name-role {

        img{
          height: 22rem;
        }
      }
    }
  }
}