<div class="history-target">
    <div class="content my-container">
        <div class="history card">
            <div class="texts">
                <h3>Notre Histoire</h3>
                <p>
                    Crée en septembre 2018 en Allemagne, Ndab Bìkòkoo est un mouvement qui rassemble les Ɓàsà’a Ɓàti M̀pòo de la diaspora hors Afrique.
                    L’un des buts de l’association est de doter ses membres d’une assurance rapatriement d’une valeur de 15.000€ en cas de décès.                    
                </p>

                <p>
                    En 2022 le congrès annuel marquant les débuts de la célébration de son quinquennat s'est déroulée a l’Arena de Genève, lequel connu son apothéose en septembre 2023 en Allemagne.
                </p>
            </div>

            <div class="image-wrapper">
                <img src="img/hero/hero-2.jpeg" alt="">
            </div>
        </div>

        <div class="target card">
            <div class="texts">
                <h3>Notre Mission</h3>
                <ul>
                    <li>Rassembler les Mbɛ́nɛ̂ Ɓàti M̀pòo</li>
                    <li>Conserver l’unité des Mbɛ́nɛ̂ Ɓàti M̀pòo</li>
                    <li>Aider au rapatriement du corps du défunt Mbɛ́nɛ̂ Ɓàti M̀pòo de la Diaspora</li>
                </ul>
            </div>

            <div class="image-wrapper">
                <img src="img/hero/hero-3.jpeg" alt="">
            </div>
        </div>
    </div>
</div>
