<div class="history-target">
    <div class="content my-container">
        <div class="history card">
            <div class="texts">
                <h3>Notre Histoire</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ipsa tempora saepe odit asperiores inventore animi. Eaque obcaecati dignissimos, pariatur rem rerum nobis excepturi? In tempora alias soluta veritatis earum?</p>
            </div>

            <div class="image-wrapper">
                <img src="img/hero/hero-2.jpeg" alt="">
            </div>
        </div>

        <div class="target card">
            <div class="texts">
                <h3>Notre Mission</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ipsa tempora saepe odit asperiores inventore animi. Eaque obcaecati dignissimos, pariatur rem rerum nobis excepturi? In tempora alias soluta veritatis earum?</p>
            </div>

            <div class="image-wrapper">
                <img src="img/hero/hero-1.jpeg" alt="">
            </div>
        </div>
    </div>
</div>
