<ul class="about-us-header">
    <li routerLink="a-propos"  fragment="notre-mission">
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>
            <span>Notre</span>
            <span>Mission</span>
        </h2>
    </li>

    <li routerLink="a-propos"  fragment="notre-vision"> 
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>
            <span>Notre</span>
            <span>Vision</span>
        </h2>
    </li>

    <li routerLink="a-propos" fragment="notre-tissu">
        <img ngSrc="/img/picto/4-5-notre-tissu.png" alt="" width="40" height="40">
        <h2>
            <span>Notre</span>
            <span>Tissu</span>
        </h2>
    </li>
</ul>