<ul class="about-us-header">
    <li class="sub-sub-menu-with-image-item" routerLink="a-propos" fragment="notre-mission">
        <div class="image-wrapper">
            <img ngSrc="/img/header/mission.jpeg" alt="" fill priority>
        </div>
        <h2>
            <span>Notre</span>
            <span>Mission</span>
        </h2>
    </li>

    <li class="sub-sub-menu-with-image-item" routerLink="a-propos" fragment="notre-vision">
        <div class="image-wrapper">
            <img ngSrc="/img/logo/logo.png" alt="" fill priority>
        </div>
        <h2>
            <span>Notre</span>
            <span>Vision</span>
        </h2>
    </li>

    <li class="sub-sub-menu-with-image-item" routerLink="a-propos" fragment="notre-tissu">
        <div class="image-wrapper">
            <img ngSrc="/img/logo/logo.png" alt="" fill priority>
        </div>
        <h2>
            <span>Notre</span>
            <span>Tissu</span>
        </h2>
    </li>
</ul>