<ul class="about-us-header">
    <li [routerLink]="['/culture-et-tradition']" [queryParams]="{ section: 'ok' }">
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>
            <span>Notre</span>
            <span>Mission</span>
        </h2>
    </li>

    <li routerLink="a-propos"> 
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>
            <span>Notre</span>
            <span>Vision</span>
        </h2>
    </li>

    <li routerLink="">
        <img ngSrc="/img/picto/4-5-notre-tissu.png" alt="" width="40" height="40">
        <h2>
            <span>Notre</span>
            <span>Tissu</span>
        </h2>
    </li>
</ul>