.feature-blog-item {
    display: flex;
    justify-content: center;
    margin-top: 10rem;

    .content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 4rem;

        app-article-data{
            width: calc(100% - 400px);
        }

        app-article-detail-side-bloc{
            width: 400px;
        }
    }
}


@media all and (max-width: 970px){
    .feature-blog-item{
            margin-top: 9rem;

        .content{
            flex-direction: column;
            width: 100%;
    
            app-article-data{
                width: 100%;
            }
    
            app-article-detail-side-bloc{
                width: 100%;
            }
        }
    }
}


@media all and (max-width: 545px){
    .feature-blog-item{
            margin-top: 7rem;

        .content{
            flex-direction: column;
            width: 100%;
    
            app-article-data{
                width: 100%;
            }
        }
    }
}