<div class="organizational">
    <app-hero-banner-type-two [heroData]="heroData"></app-hero-banner-type-two>

    <div class="organigram ">
        <div class="content my-container">
            <h2>ORGANIGRAMME</h2>
            <h3>Kine keni Lejeune Ngom Ngom met en place la nouvelle équipe de cadres du mouvement et annonce la
                présentataion de la nouvelle feuille de route lors de l'assemblée générale à Amsterdam</h3>
            <p>Cette équipe, avec l'ensemble des collaborateurs de Ndab Bikokoo a comme mission de poursuivre le
                développement du mouvement au service de ses adhérents.</p>
        </div>

    </div>

    <div class="how-it-work">
        <div class="content my-container">
            <h2>FONCTIONNEMENT</h2>

            <ul>
                @for (tab of tabs; track $index) {
                <li (click)="onTabClicked($index)" [class.activeTab]="tab.isActive"> {{tab.label}} </li>
                }
            </ul>

            @switch (currentIndexTabContent) {
            @case (0) {
            <div class="instance-dirigeante">
                <p>
                    Kine Keni et ses adjoints sont en charge de la direction, l'administration et la protection
                    juridique de Ndab Bikokoo Pil Gweha. Kine Keni seul, détient un pouvoir discrétionnaire.
                </p>
                <p>
                    Pour tout complément d'information, se reporter au <b>Règlement Intérieur du Mouvement</b>
                </p>

                <div class="image-wrapper">
                    <img ngSrc="/img/organigramme/fonctionnement/organigramme.jpeg" fill>
                </div>

                <p>Aux termes de l'article 4,1 du Règlement Intérieur, l'intance dirigeante est composée de Kine Keni et
                    de 5 adjoints, nomme ses adjoints, les destitue et accepte leur démission</p>
            </div>
            }
            @case (1) {
                <p>Contenu de "Le Conseil Batat Ndab"</p>
            }
            @case (2) {
                <p>Contenu de "Le Conseil Dikoo Di Mbok"</p>
            }
            @case (3) {
                <p>Contenu de "Les Administrateurs" </p>
            }
            }
        </div>
    </div>
</div>