<div class="organizational">
    <app-hero-banner-type-two [heroData]="heroData"></app-hero-banner-type-two>

    <div class="organigram ">
        <div class="content my-container">
            <h2>ORGANIGRAMME</h2>
            <h3>Kine keni Lejeune Ngom Ngom met en place la nouvelle équipe de cadres du mouvement et annonce la
                présentataion de la nouvelle feuille de route lors de l'assemblée générale à Amsterdam</h3>
            <p>Cette équipe, avec l'ensemble des collaborateurs de Ndab Bikokoo a comme mission de poursuivre le
                développement du mouvement au service de ses adhérents.</p>

            <img ngSrc="/img/organigramme/organigram.jpeg" width="300" height="300">
        </div>
    </div>

    <div class="how-it-work" id="nos-instances">
        <div class="content my-container">
            <h2>LES INSTANCES</h2>

            <ul>
                @for (tab of tabs; track $index) {
                <li (click)="onTabClicked($index)" [class.activeTab]="tab.isActive"> {{tab.label}} </li>
                }
            </ul>

            @switch (currentIndexTabContent) {
            @case (0) {
            <div class="instance-dirigeante">
                <p>
                    Kine Keni et ses adjoints sont en charge de la direction, l'administration et la protection
                    juridique de Ndab Bikokoo Pil Gweha. Kine Keni seul, détient un pouvoir discrétionnaire.
                </p>
                <p>
                    Pour tout complément d'information, se reporter au <b>Règlement Intérieur du Mouvement</b>
                </p>

                <img ngSrc="/img/organigramme/fonctionnement/dirigents.jpeg" width="300" height="300">

                <p>Aux termes de l'article 4,1 du Règlement Intérieur, l'intance dirigeante est composée de Kine Keni et
                    de 5 adjoints, nomme ses adjoints, les destitue et accepte leur démission</p>
            </div>
            }
            @case (1) {
            <div class="instance-dirigeante">

                <p>
                    Les Ba Tat Ndab ont entre autres, un rôle de contrôle. Ils veillent à l’application du Règlement
                    Intérieur et des résolutions prises par le Directoire, à la discipline et à la gestion des
                    ressources de l’Association via les Cantons dans lesquels ils sont affectés.
                </p>

                <p>
                    Pour tout complément d'information, se reporter au <b>Règlement Intérieur du Mouvement</b>
                </p>
                <img ngSrc="/img/organigramme/fonctionnement/batat-ndab-1.jpeg" width="300" height="300">
                <img ngSrc="/img/organigramme/fonctionnement/batat-ndab-2.jpeg" width="300" height="300">
                <img ngSrc="/img/organigramme/fonctionnement/batat-ndab-3.jpeg" width="300" height="300">
                <img ngSrc="/img/organigramme/fonctionnement/batat-ndab-4.jpeg" width="300" height="300">
            </div> }
            @case (2) {
            <div class="instance-dirigeante">
                <p>
                    Il a un rôle consultatif. Il assiste également Kiñe Nkeñi dans la gestion du Mouvement.
                </p>
                <p>
                    Pour tout complément d'information, se reporter au <b>Règlement Intérieur du Mouvement</b>
                </p>
                <img ngSrc="/img/organigramme/dikoo-1.jpeg" width="300" height="300">
                <img ngSrc="/img/organigramme/dikoo-2.jpeg" width="300" height="300">
                <img ngSrc="/img/organigramme/dikoo-3.jpeg" width="300" height="300">
                <img ngSrc="/img/organigramme/dikoo-4.jpeg" width="300" height="300">
            </div>
            }
            
            @case (3) {
            <div class="instance-dirigeante">
                <p>
                    En cours de construction ...
                </p>
                <p>
                    Merci de vous rapprochez de <b>Dieudonné Banlog</b>
                </p>
            </div>
            }

            @case (4) {
            <div class="instance-dirigeante">
                <p>
                    Les administrateurs coordonnent les activités des instances du mouvement.
                </p>
                <p>
                    Pour tout complément d'information, se reporter au <b>Règlement Intérieur du Mouvement</b>
                </p>
                <img ngSrc="/img/organigramme/fonctionnement/administrateurs.jpeg" width="300" height="300">
            </div>
            }
            }
        </div>
    </div>
</div>