footer {
    display: flex;
    justify-content: center;
    color: var(--project-white-tertiary-color);
    margin: auto;
    margin-top: 7rem;
    padding: 1rem;

    .content {
        display: flex;
        flex-direction: column;
        background-color: var(--project-brown-quaterly-color);
        max-width: 1700px;
        width: 100%;
        border-radius: 3rem;
        overflow: hidden;
        padding: 3rem;
        gap: 1.5rem;
    }
}

@media all and (max-width: 1024px) {
footer {
    .content {
        border-radius: 2rem;
        padding: 3rem 1rem 2rem ;
    }
}
}