<footer>
    <div class="top">
        <div class="content my-container">


            <div class="rapid-links">
                <h3>Liens Utiles</h3>

                <ul>
                    <li>La Maison</li>
                    <li>Gouvernance</li>
                    <li>Évènements</li>
                    <li>Culture</li>
                    <li>Contact</li>
                </ul>
            </div>

            <div class="logo-bloc">
                <div class="image-wrapper">
                    <img src="img/logo/logo.png">
                </div>
                <p>
                    A Ndab ée, manès ma nès.                
                </p>

                <ul>
                    @for (network of networks; track $index) {
                        <li>
                            <a routerLink={{network.link}}> 
                                <fa-icon [icon]=" network.icon | convertStringLabelToFontawesomeIcon "></fa-icon>
                            </a>
                        </li>
                    }
                </ul>
            </div>

            
            <div class="rapid-links">
                <h3>Contact</h3>

                <ul>
                    <li>+49 179 7510920</li>
                    <li>+33 6 61 52 96 65</li>
                    <li>contact&#64;ndabbikokoo.com</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="content my-container">
            <p>©2025 NDAB BIKOKOO, Tous droits réservés - Mentions légales</p>
        </div>
    </div>
</footer>