footer {
    display: flex;
    justify-content: center;
    color: var(--project-white-tertiary-color);
    margin: auto;
    margin-top: 7rem;
    padding: 1rem;

    .content {
        display: flex;
        flex-direction: column;
        background-color: var(--project-brown-quaterly-color);
        max-width: 1700px;
        width: 100%;
        border-radius: 3rem;
        overflow: hidden;
        padding: 3rem;
        gap: 1.5rem;

        .top {
            display: flex;
            justify-content: space-between;
            color: var(--project-white-primary-color);

            p {
                font-size: 1rem;
                line-height: 1.5rem;
                width: 550px;

                a {
                    color: var(--project-orange-secondary-color);
                }
            }

            form {
                display: flex;
                gap: 0.5rem;

                .input-bloc {
                    display: flex;
                    align-items: center;
                    border-radius: 7px;
                    gap: 0.3rem;
                    background-color: var(--project-green-primary-color);

                    .p-select {
                        align-items: center;
                        background: transparent;
                        border: none;
                        outline: none;
                        height: 100%;

                        &:hover {
                            background: rgba(0, 0, 0, 0.289);
                        }

                        .p-select-label {
                            padding: 0 0 0 0.5rem;

                            span {
                                font-size: 1.8rem;
                            }
                        }

                        .p-select-dropdown {
                            width: 25px;
                            color: white;

                            chevrondownicon {
                                svg {
                                    width: 12px;
                                }
                            }
                        }
                    }

                    input {
                        width: 170px;
                        background: transparent;
                        color: var(--project-white-primary-color);
                        border: none;
                        padding: 0;
                        outline: none;
                        box-shadow: none;
                        height: 100%;
                        font-size: 1rem;
                    }
                }

                button {
                    border: none;
                    border-radius: 7px;
                    padding: 0 1rem;
                    font-size: 1rem;
                    font-weight: 600;
                    cursor: pointer;
                    background-color: var(--project-orange-primary-color);
                    color: var(--project-white-primary-color);
                }
            }

            .country {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }

        .middle {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            padding: 1.5rem 0;

            .logo-bloc {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            .rapid-links,
            .contact,
            .rgpd {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                color: var(--project-white-primary-color);

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;

                    li {
                        a {
                            color: var(--project-white-primary-color);
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                                color: var(--project-orange-secondary-color);
                            }
                        }
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            p {
                font-size: 0.95rem;
                font-weight: 300;
                line-height: 1.3rem;
                color: var(--project-white-primary-color);
            }

            .copyright-networks {
                display: flex;
                justify-content: space-between;
                gap: 2rem;

                p {
                    font-weight: 600;
                    font-size: 1rem;
                }

                ul {
                    display: flex;
                    gap: 1rem;

                    li {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: var(--project-white-primary-color);
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            color: var(--project-brown-quaterly-color);
                            font-weight: 500;
                            font-size: 1.4rem;
                            padding: 0;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                                color: var(--project-orange-secondary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}