<div class="swiping-hero-banner">
    <swiper-container #swiperRef [config]="config" >
        <swiper-slide>
            <div class="hero-view">
                <img ngSrc="/img/hero/hero-1.jpeg" alt="" fill priority>

                <div class="content header-container">

                    <div class="texts">
                        <h1>
                            <span>NDAB bikokoo</span>
                            <span>Pil Gweha</span>
                        </h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, magni similique? Quo quibusdam architecto, veritatis id excepturi a laborum fugit, perferendis hic ipsum eveniet! Iste fuga hic alias repudiandae non!</p>
                    </div>
                <div class="video-thumnail">
                    <div class="image-video-wrapper">
                        <img src="img/home/events/paris.jpeg" alt="">

                        <div class="play-icon-wrapper">
                            <fa-icon [icon]=" 'faPlay' | convertStringLabelToFontawesomeIcon "></fa-icon>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="hero-view">

            <img ngSrc="/img/hero/hero-2.jpeg" alt="" fill priority>
                </div>
        </swiper-slide>
    </swiper-container>

    <div class="custom-controls">
        <div class="controls header-container">
    
            <div class="swiper-pagination"></div>
            
            <div class="navigation">
                <button class="prev" (click)="onNavigationEvent(-1)">
                    <i class="pi pi-arrow-left"></i>
                </button>
            
                <button class="next" (click)="onNavigationEvent(1)">
                    <i class="pi pi-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
