<div class="swiping-hero-banner">
  <swiper-container #swiperRef [config]="config" init="false">
    <swiper-slide>
      <div class="hero-view">
        <img ngSrc="/img/hero/x.jpeg" alt="" fill priority />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="hero-view">
        <img ngSrc="/img/hero/x-show.jpeg" alt="" fill priority />
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="hero-view">
        <img ngSrc="/img/hero/crowd-d-w.jpeg" alt="" fill priority />
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="hero-view">
        <img ngSrc="/img/hero/both-x.jpeg" alt="" fill priority />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="hero-view">
        <img ngSrc="/img/hero/blanc-x.jpeg" alt="" fill priority />
      </div>
    </swiper-slide>

  </swiper-container>

  <div class="content header-container">
    <div class="texts">
      <h1>
        Ndab Bìkòkoo Pil Gweha
      </h1>
      <p>Mbok Kwog Mbog Nyodag</p>
    </div>
    <div class="video-thumnail" (click)="onVideoClick()">
      <div class="image-video-wrapper">
        <img src="img/home/events/paris.jpeg" alt="" />

        <div class="play-icon-wrapper">
          <fa-icon [icon]="'faPlay' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>


    <div class="navigation">
      <button class="prev" (click)="onNavigationEvent(-1)">
        <i class="pi pi-arrow-left"></i>
      </button>

      <button class="next" (click)="onNavigationEvent(1)">
        <i class="pi pi-arrow-right"></i>
      </button>
    </div>
  </div>
</div>