<ul class="how-we-work-header">
    <li [routerLink]="['/a-propos']" [queryParams]="{ section: 'ok' }">
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>
            <span>Notre</span>
            <span>charte</span>
        </h2>
    </li>

    <li routerLink="a-propos"> 
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>
            <span>Notre</span>
            <span>livret d'accueil</span>
        </h2>
    </li>

    <li routerLink="">
        <img ngSrc="/img/picto/4-5-notre-tissu.png" alt="" width="40" height="40">
        <h2>
            <span>La</span>
            <span>solidarité</span>
        </h2>
    </li>
</ul>