<ul class="how-we-work-header">
    <li class="sub-sub-menu-with-image-item" fragment="notre-charte" [routerLink]="['/fonctionnement']">
        <div class="image-wrapper">
            <img ngSrc="/img/logo/logo.png" alt="" fill priority>
        </div>
        <h2>
            <span>Notre</span>
            <span>charte</span>
        </h2>
    </li>

    <li class="sub-sub-menu-with-image-item" fragment="notre-livret-daccueil" [routerLink]="['/fonctionnement']">
        <div class="image-wrapper">
            <img ngSrc="/img/logo/logo.png" alt="" fill priority>
        </div>
        <h2>
            <span>Notre</span>
            <span>livret d'accueil</span>
        </h2>
    </li>

    <li class="sub-sub-menu-with-image-item" fragment="la-solidarite" [routerLink]="['/fonctionnement']">
        <div class="image-wrapper">
            <img ngSrc="/img/logo/logo.png" alt="" fill priority>
        </div>
        <h2>
            <span>Les</span>
            <span>cantons</span>
        </h2>
    </li>
</ul>