<div class="top-about">
    <div class="content my-container">
        <div class="texts">
            <h2>Qui sommes-nous ?</h2>
            <p>
                Ndab Bìkokoo est un mouvement des Basà'a de la diaspora qui révolutionne le sentiment d'appartenance à la communauté Mbène Bati Mpo'o. Notre mission est simple : offrir à chaque Basà'a de la diaspora hors africaine, une aide financière au rapatriement de corps.  outil et besoin financier accessibles, solidaires et sans contraintes, adaptés à la réalité des Basàa'a de la diaspora.
            </p>

            <div class="mission-vision">
                <h3>Notre Mission, Notre Vision:</h3>
                <p>Créer une pris de conscience révolutionnaire chez les Basà'a. Faciliter l'inclusion financière dans le mouvement grâce à des valeurs telles que la solidarité, l'entraide, le partage et l'échange, les qualités humaines et la cohésion de groupe. Notre vision est celle d'une communauté où chaque personne qui contribue à la réussite commune est un acteur central du mouvement ; ou chaque adhérent partage la vocation à réussir ensemble.</p>
                <p>Ndab Bìkokoo, c'est le mouvement qui avance avec des solutions de son temps. Nous ne nous contentons pas de suivre les règles : nous redéfinissons la façon dont l'entraide solidaire s'articule, au bénéfice de nos adhérents et leurs ayants-droits.</p>
            </div>
        </div>
        <div class="image-wrapper">
        </div>
    </div>
</div>

