<div class="top-about">
     <img ngSrc="/img/about/about.png" alt="" width="100" height="500">
    <div class="content my-container">
        <p>Ndab Bìkokoo est un mouvement des Ɓàsà’a de la diaspora qui révolutionne le sentiment d'appartenance à la
            communauté Mbɛ́nɛ̂ Ɓàti M̀pòo. Notre mission est simple : offrir à chaque Ɓàsà’a de la diaspora hors
            africaine, une aide financière au rapatriement de corps. outil et besoin financier accessibles, solidaires
            et sans contraintes, adaptés à la réalité des Ɓàsà’a de la diaspora.</p>
        <p>
            Ndab Bìkokoo, c'est le mouvement qui avance avec des solutions de son temps. Nous ne nous contentons pas de
            suivre les règles : nous redéfinissons la façon dont l'entraide solidaire s'articule, au bénéfice de nos
            adhérents et leurs ayants-droits.
        </p>
    </div>
</div>