<div class="top-about">
    <div class="content my-container">
        <h2>Qui Sommes-Nous ?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat necessitatibus esse possimus error perferendis obcaecati odit mollitia ad veritatis magnam ipsa, iure unde. Temporibus, similique harum vitae tempora excepturi nam!</p>

        <div class="video-wrapper">
            <img src="img/hero/hero-1.jpeg" alt="">

            <div class="icon-wrapper">
                <fa-icon [icon]="'faPlay' | convertStringLabelToFontawesomeIcon"></fa-icon>
            </div>
        </div>
    </div>
</div>
