<ul class="us-header">
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        La naissance
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Le mariage
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Les funérailles
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Les interdits
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        La médecine
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Les cultes
    </li>
</ul>