<ul class="us-header">
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        La Naissance
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Le Mariage
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Les Funéraille
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Les interdits
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        La médecine
    </li>
    <li class="sub-sub-menu-list-item">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Les cultes
    </li>
</ul>