<div class="nav-small-screen">
    <p-panelMenu [model]="menuItems" styleClass="sidebar-panelmenu">
        <ng-template #item let-item>
            <a pRipple [routerLink]="item.routerLink">
                <div class="left">
                    <span>
                        {{ item.label }}
                    </span>
                </div>

                @if (item.items){
                     <i class="pi pi-angle-right"></i>
                }
            </a>
        </ng-template>
    </p-panelMenu>

    <div class="bottom">
        <button routerLink="/se-connecter">Se connecter</button>
        <button routerLink="/sinscrire">S'inscrire</button>
    </div>
</div>