<div class="two-equal-side-blocs">
    <div class="content my-container">
        <div class="item">
            <div class="texts">
                <span class="tag">Notre Mission</span>
                <h2>Payer en ligne n'est plus un mythe</h2>
                <p>Créer une pris de conscience révolutionnaire chez les Basà'a. Faciliter l'inclusion financière dans le mouvement grâce à des valeurs telles que la solidarité, l'entraide, le partage et l'échange, les qualités humaines et la cohésion de groupe.</p>
            </div>
    
            <div class="image-bloc">
                
            </div>
        </div>

        <div class="item item-reverse">
            <div class="texts">
                <span class="tag">Notre Vision</span>
                <h2>Payer en ligne n'est plus un mythe</h2>
                <p>Notre vision est celle d'une communauté où chaque personne qui contribue à la réussite commune est un acteur central du mouvement ; ou chaque adhérent partage la vocation à réussir ensemble.</p>
            </div>
    
            <div class="image-bloc">
                
            </div>
        </div>
    </div>
</div>
