<div class="two-equal-side-blocs">
    <div class="content my-container">
        <div class="item">
            <div class="texts">
                <span class="tag">Notre impact</span>
                <h2>Payer en ligne n'est plus un mythe</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, iusto molestiae. Voluptas sed nemo soluta obcaecati sunt. Laborum totam voluptatibus incidunt excepturi deserunt maiores laboriosam saepe, atque accusamus rem sed?</p>
            </div>
    
            <div class="image-bloc">
                
            </div>
        </div>

        <div class="item item-reverse">
            <div class="texts">
                <span class="tag">Notre impact</span>
                <h2>Payer en ligne n'est plus un mythe</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, iusto molestiae. Voluptas sed nemo soluta obcaecati sunt. Laborum totam voluptatibus incidunt excepturi deserunt maiores laboriosam saepe, atque accusamus rem sed?</p>
            </div>
    
            <div class="image-bloc">
                
            </div>
        </div>
    </div>
</div>
