.feature-food {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5rem;

    app-hero-banner-type-two {
        width: 100%;
    }

    .content {
        display: flex;
        justify-content: space-around;
        gap: 7rem;

        .menu-bloc {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 200px;

            h2 {
                font-size: 2rem;
                font-weight: 900;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    font-weight: 600;
                    padding: 0.6rem 1.2rem;
                    border-radius: 7px;
                    cursor: pointer;
                    border: 1px solid rgba(0, 0, 0, 0.318);
                    color: var(--project-yellow-primary-color);
                }

                .active {
                    background-color: var(--project-brown-quaterly-color);
                    color: var(--project-white-primary-color);
                }
            }
        }

        .page-conent {
            width: 800px;
        }
    }
}