<div class="some-stats">
    <div class="content my-container">
        <h2>Ndab Bikoko En Quelques Chiffres</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptas eveniet sit quos optio similique! Hic quaerat vero officiis velit perferendis quis mollitia praesentium quae, animi dignissimos, ad enim itaque!</p>
        
        <ul>
            @for (stat of stats; track $index) {
                <li>
                    <span> {{stat.value}} </span>
                    <p> {{stat.label}} </p>
                </li>
            }
        </ul>
    </div>
</div>
