<div class="some-stats">
    <div class="content my-container">
        <h2>Ndab Bikokoo En Quelques Chiffres</h2>
        <p>
            Avec près de 4000 membres, mondialement présents dans 4 continents, Ndab Bìkòkoo est à ce jour l'un des plus grands rassemblement du peuple de la grotte dans la diaspora.
        </p>
        
        <ul>
            @for (stat of stats; track $index) {
                <li>
                    <span> {{stat.value}} </span>
                    <p> {{stat.label}} </p>
                </li>
            }
        </ul>
    </div>
</div>
