.faq{
    display: flex;
    justify-content: center;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 3rem;

        .texts{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .pre{
                border: 2px solid var(--project-black-primary-color);
            }

            .sub-title{
                text-align: center;
            }

            p{
                margin-top: 1rem;
                line-height: 1.5rem;
            }
        }

        .p-accordion{
            margin-top: 4rem;
            max-width: 800px;
            width: 100%;

            .p-accordionpanel{
                .p-accordionheader{
                    display: flex;
                    gap: 2rem;
                    background-color: var(--project-white-primary-color);
                }
            }

            .p-accordionpanel-active{
                .p-accordionheader{
                    background-color: var(--project-brown-primary-color);
                    color: var(--project-orange-primary-color);
                }

                .p-accordioncontent{

                    .p-accordioncontent-content{
                        background-color: var(--project-brown-tertiary-color);

                        p{
                            line-height: 1.5em;
                            color: var(--project-white-primary-color);
                        }            
                    }
                }
            }
        }        
    }
}