<ul class="our-offer-header">
    <li class="sub-sub-menu-list-item" [routerLink]="['/notre-offre']" fragment="">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        L'assistance décès solidaire
    </li>

    <li class="sub-sub-menu-list-item" routerLink="notre-offre" fragment="">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Parcours d'intégration culturelle
    </li>

    <li class="sub-sub-menu-list-item" routerLink="notre-offre" fragment="">
        <div class="icon-wrapper">
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        </div>
        Accompagnement aux projets
    </li>
</ul>