<ul class="our-offer-header">
    <li [routerLink]="['/a-propos']" [queryParams]="{ section: 'ok' }">
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>
            <span>assistance</span>
            <span>Décès</span>
        </h2>
    </li>

    <li routerLink="a-propos"> 
        <img ngSrc="/img/picto/1-2-notre-approche.png" alt="" width="40" height="40">
        <h2>
            <span>Parcours d'intégration culturelle</span>
        </h2>
    </li>

    <li routerLink="">
        <img ngSrc="/img/picto/4-5-notre-tissu.png" alt="" width="40" height="40">
        <h2>
            <span>accompagnement </span>
            <span>aux projets</span>
        </h2>
    </li>
</ul>
