.our-offer-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  li {
    cursor: pointer;

    &:hover{
      font-weight: 600;
      color: var(--project-green-primary-color);
    }
  }
}