.our-offer-header {
  display: flex;
  flex-direction: column;
  gap: 0.4em;

  li {
    &:hover {
      color: var(--project-green-primary-color);

      .icon-wrapper {
        background-color: var(--project-green-primary-color);
        border: 1px solid var(--project-green-primary-color);
      }
    }
  }
}