<div class="blog-home">
    <div class="content my-container">
        <h2>Nos dernières actualités</h2>

        <p-carousel #myCarousel [value]="(blog$ | async)!" [numVisible]="4" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-blog #item>
            <div class="blog">
                <img [ngSrc]="blog.coverImage" [alt]="blog.title" width="100" height="200">

                <div class="bottom">
                    <div class="texts">
                        <span class="tag"> {{blog.rubric.name}} </span>
                        <h3> {{blog.title}} </h3>
                        <p> {{blog.description}} </p>
                    </div>

                    <div class="read-date">
                        <button [routerLink]="['/actualites', blog.id]">Lire</button>

                        <span> {{blog.date | convertTimeZoneToDate}} </span>
                    </div>
                </div>
            </div>
            </ng-template>
        </p-carousel>
        <button routerLink="/actualites" class="see-all">Voir toutes les actualités associées</button>
    </div>
</div>