@import "primeicons/primeicons.css";
@import "variables.scss";

@font-face {
  font-family: 'castellar';
  src: url('/castellar-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer reset, primeng;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "montserrat", sans-serif;
  }

  html {
    scroll-behavior: smooth;
    font-size: 1rem;
  }

  body {
    color: var(--project-black-primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--project-white-primary-color);
  }

  .header-container,
  .my-container {
    max-width: 1400px;
    padding: 0 1rem;
  }

  h1,
  h2,
  h3 {
    font-family: 'Syne', sans-serif;

    span {
      font-family: "Syne", sans-serif;
    }
  }

  /**
  .my-container {
    max-width: 1300px;
    padding: 0 1rem;
  }
*/

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .sub-title {
    font-size: 2.5rem;
    max-width: 700px;
  }

  .pre {
    padding: 10px 25px;
    border-radius: 100px;
  }

  .sub-sub-menu-with-image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    cursor: pointer;
    background-color: #efefef;
    color: var(--project-black-primary-color);
    height: 100%;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 1px solid transparent;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
      background-color: rgb(215, 235, 215);
      color: var(--project-green-primary-color);
      border: 1px solid rgb(34, 34, 34);
    }

    .image-wrapper {
      position: relative;
      width: 100%;
      height: 70%;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    h2 {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;

      font-size: 0.95rem;
      text-align: center;
      font-weight: 500;
      height: 30%;
      width: 100%;
    }
  }

  .sub-sub-menu-list-item {
    display: flex;
    align-items: center;
    height: 45.7px;
    cursor: pointer;
    gap: 1rem;

    &:hover {
      color: var(--project-green-primary-color);
      font-weight: 600;

      .icon-wrapper {
        background-color: var(--project-green-primary-color);
        border: 1px solid var(--project-green-primary-color);

        fa-icon {
          color: var(--project-white-primary-color);
        }
      }
    }

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border: 1px solid black;
      border-radius: 50%;

      fa-icon {
        font-size: 0.85rem;
        color: var(--project-black-primary-color);
      }
    }
  }

  .Facebook {
    &:hover {
      a {
        color: #1877F2 !important;
      }
    }
  }

  .Instagram {
    &:hover {
      a {
        color: #E1306C !important;
      }
    }
  }

  .Youtube {
    &:hover {
      a {
        color: #FF0000 !important;
      }
    }
  }

  .Whatsapp {
    &:hover {
      a {
        color: green !important;
      }
    }
  }
}