:root{
    --project-black-primary-color : #111010;
    --project-white-primary-color : #fefefe;
    --project-white-secondary-color : #8c8c8c;
    --project-white-tertiary-color : #a6a6a6;
    --project-brown-primary-color : #e58630;
}