:root{
    --project-black-primary-color : #111010;
    --project-white-primary-color : #fefefe;
    --project-white-secondary-color : #c3c2c2;
    --project-white-tertiary-color : #a6a6a6;
    --project-brown-primary-color : #29150c;
    --project-brown-secondary-color : #6e422e;
    --project-brown-tertiary-color : #4e3326;
    --project-orange-primary-color: #e58630;
    --project-orange-secondary-color: #f3b782;
}