<div class="feature-event">
  <app-hero-banner-type-two [heroData]="heroData"></app-hero-banner-type-two>
  <app-event-menu-items [plannerMenus]="plannerMenuList" (plannerMenuItemClicked)="onPlannerMenuItemHandler($event)"></app-event-menu-items>
  <div class="content my-container">
    <div class="event-list">
      @for (event of plannerList$ | async; track $index) {
      <app-event-item
        [planner]="event"
        (eventItemClikedTrigger)="onEventClickHandler($event)"
      ></app-event-item>
      }
    </div>
  </div>
</div>
