<div class="contact-us-header">
    <li class="sub-sub-menu-with-image-item" routerLink="a-propos" fragment="notre-mission">
        <div class="image-wrapper">
            <img ngSrc="/img/about/team/1.jpeg" alt="" fill priority>
        </div>
        <h2>
            <span>Écrivez-nous</span>
        </h2>
    </li>

    <li class="sub-sub-menu-with-image-item" routerLink="a-propos" fragment="notre-vision">
        <div class="image-wrapper">
            <img ngSrc="/img/about/team/1.jpeg" alt="" fill priority>
        </div>
        <h2>
            <span>Besoin</span>
            <span>d'orientation ?</span>
        </h2>
    </li>
</div>
