<div class="inscription-process">
    <div class="content my-container">
        <h2> <span>Laissez-vous guider </span> lors de votre inscription </h2>
        <p>Par votre adhésion, vous joignez un collectif de plusieurs milliers d'acteurs, du développement du plus grand
            mouvement rassembleur de la daispora des ressortissants de la grotte.</p>
        <ul>
            @for (inscriptionProcess of inscriptionProcesses; track $index) {
            <li class="process">
                <img ngSrc={{inscriptionProcess.image}} width="100" height="200" alt={{inscriptionProcess.title}}>
                <div class="register">
                    <h3>{{inscriptionProcess.title}}</h3>
                    <p>
                        {{inscriptionProcess.description}}
                    </p>
                </div>
            </li>
            }
        </ul>

        <button>Je m'inscris</button>
    </div>
</div>