<div class="feature-home">
    <app-swiping-hero-banner></app-swiping-hero-banner>
    <section>
        <img ngSrc="/img/home/mosaique.jpeg" alt="Logo" class="logo" fill priority>
        <app-next-events></app-next-events>
        <app-blog-home></app-blog-home>
    </section>
    <app-president-words></app-president-words>
    <app-world-map-progression></app-world-map-progression>
<!--`    
    <app-testimonies></app-testimonies>
-->
    <app-join-banner></app-join-banner>
    <app-faq></app-faq>
</div>