.feature-home{
    display: flex;
    flex-direction: column;
    width: 100%;

    section{
        position: relative;
        width: 100%;
        height: fit-content;

        img{
            z-index: -1;
            opacity: 0.15;
            object-fit: cover;
        }
    }
}